
.input{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
input{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
    height: 50px;
    width: 380px;
    font-size:18px;
    border: none;
}
.login{
    background-color: rgb(165, 165, 167);
    margin-left: 300px;
margin-right: 300px;
margin-top: 40px;
margin-bottom: 40px;
height: 500px;
border-radius: 20px;
clear: both;


}
.validate{
    display: flex;
    justify-content: center;
}

.italic{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 53px;
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    width: 80px;
}
.bupup{
text-align: center;
font-weight: 800px;
font-size:50px ;
}
.introduce{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-weight: 700px;
    font-size: 40px;
}
